
@import '@fontsource/inter/100.css';
@import '@fontsource/inter/200.css';
@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/800.css';
@import '@fontsource/inter/900.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-padding-top: 150px; /* Điều chỉnh 80px cho đúng chiều cao header của bạn */
  }
.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    font-family: "poppins";
}
.sort {
    border: 1px solid black;
}
.sort-by-active {
    border: 1px solid #d0011b;
}

.product-image {
    width: 100% !important;
    height: auto!important;
}
@keyframes slideInLeft {
    from { transform: translateX(-100%);}
    to { transform: translateX(0);}
}
.animate-slideInLeft {
    animation: slideInLeft 0.25s ease;
}
.highlight{
    box-shadow: 0 1px 32px 0 rgba(31, 38, 135, 0.37), 0 0 0 4px #000000;
    background: #f2eded !important;
    filter: blur(0.5px) brightness(1.08);
    transform: scale(1.03);
    transition: 
      box-shadow 0.5s, 
      background 0.5s, 
      filter 0.5s, 
      transform 0.5s;
    z-index: 2;
    position: relative;
}

